@media (min-width: 64em) and (max-width: 120em) {
    /* font */
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

    /* Style-colors*/
    html {
        scroll-behavior: smooth;
    }

    * {
        margin-left: 0px;
        margin-right: 0px;
        overflow-x: clip;
        cursor: url('Assets/Images/mouse.svg'), auto;
    }

    .player {
        width: 50vw;
    }

    .app-logo-mobile {
        display: none;
    }


    .overflow-x {
        overflow-x: hidden;
    }

    :root {
        --pink: #ff7c7c;
        --background: #fef9f8;
        --cardBackground: #ffecea;
        --space-sm: calc(0.75 * 1rem);
    }

    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    body {
        background-color: var(--background);
        font-family: museo, serif;
        color: var(--pink);
        max-width: 100vw;

    }

    #loader {
        width: 100%;
        height: 120%;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: var(--pink);
        color: var(--background);
        font-size: 5rem;
        z-index: 100;
        top: -20px;
        left: -20px;
        cursor: url('Assets/Images/White-cursor.svg'), auto;

    }



    .loader-text {
        display: flex;
        justify-content: center;
        margin-top: 25%;
    }

    .margin {
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    }

    a:link {
        text-decoration: none;
        color: var(--pink);
    }

    a:visited {
        text-decoration: none;
        color: var(--pink);
    }

    a:hover {
        opacity: 50%;
    }

    li,
    ul {
        list-style: none;
        margin-block-start: 1em;
        padding: 0px;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    /* Body */

    /* Header(Navigation Bar) */
    .navigation {
        position: fixed;
        width: 96%;
        display: flex;
        z-index: 20;
        top: 1.5rem;
        /* padding-top: 1.5rem; */
        justify-content: space-between;
        align-items: flex-start;

        font-size: 0.8rem;
        font-weight: 500;
        box-sizing: border-box;
    }

    .logo {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .weather-container {
        display: flex;
        align-items: center;
        column-gap: 0.2rem;
    }

    /* title */
    section.title {
        position: relative;
        height: 100vh;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 14rem;
    }

    .app-name {
        display: flex;
        justify-content: flex-start;
        column-gap: 1.2rem;
    }

    section.title .titleBox h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-top: 1.24rem;
        margin-bottom: 1.25rem;
    }

    section.title .titleBox .title-description {
        font-size: 2.5rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    #piece-of-cake {
        background-image: url('/Assets/Images/main-line.svg');
        background-repeat: no-repeat;
        background-position: 0% 75%;
    }

    .title-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        margin-top: 6vh;
    }

    .title-button {
        background-color: #ffffff;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        width: 8rem;
        border-radius: 8px;
        /* margin-top: 2.5rem; */
        display: flex;
        align-items: flex-end;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .title-button-description {
        color: #ffadad;
        font-size: 0.8rem;
        margin: 0px;
    }

    .title-button-store {
        color: var(--pink);
        font-size: 1rem;
    }

    i {
        width: 20%;
        text-align: center;
        font-size: 28px;
        margin-right: 7px;
    }

    .title-mockup {
        max-width: 350px;
        height: auto;
    }

    /* description curvy line */
    section.title .title-line {
        position: absolute;
    }

    /* Scroll down */
    .scroll {
        position: fixed;
        left: 50%;
        bottom: 5%;
        padding: -2rem;
        font-size: 0.8rem;
        font-weight: 500;

        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 4;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        50% {
            -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
        }

        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    @keyframes pulse {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        50% {
            -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
        }

        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    /* Waves */
    .waves {
        height: 100vh;
        width: 100%;
        opacity: 90%;
        /* position: absolute; */
        position: fixed;
        top: 10%;
        left: 0;
        z-index: -2;
        overflow: hidden;
    }

    .wave1 {
        filter: blur(0.5rem);
        background: url(Assets/Images/wave1.svg) repeat-x;
        position: absolute;
        top: 400px;
        width: 6400px;
        height: 1200px;
        animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 3s ease -1.25s infinite;
        transform: translate3d(0, 0, 0);
        z-index: -2;
    }

    .wave2 {
        filter: blur(0.5rem);
        background: url(Assets/Images/wave2.svg) repeat-x;
        position: absolute;
        top: 400px;
        width: 6400px;
        height: 1200px;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 14s ease -1.25s infinite;
        transform: translate3d(0, 0, 0);
        z-index: -2;
    }

    @keyframes wave {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -1600px;
        }
    }

    @keyframes swell {

        0%,
        100% {
            transform: translate3d(0, -25px, 0);
        }

        50% {
            transform: translate3d(0, 5px, 0);
        }
    }

    /* Cards */
    .stack-cards {
        width: 100%;
        top: 1rem;
        /* height: 100vh; */
        height: 100%;
        --stack-cards-gap: var(--space-sm);
        /* overflow: scroll; */
        /* scroll-snap-type: y mandatory; */
        z-index: 3;
        position: relative;
    }

    .stack-cards::-webkit-scrollbar {
        display: none;
    }

    .stack-cards-item {
        margin-left: 3rem;
        margin-right: 3rem;
        height: 75vh;
        position: relative;
        margin-bottom: 4rem;
        margin-top: 4rem;
        background: var(--cardBackground);
        border-radius: 80px;
        padding-left: 4.5rem;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        padding-left: 1.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        align-self: flex-start;
    }

    .sectionDivider {
        scroll-snap-align: start;
    }

    .stack-cards-container::-webkit-scrollbar {
        display: none;
    }

    .text-component {
        max-width: 45%;
        padding-top: -2rem;
        padding-left: 5vw;
        margin-right: -2vw;
    }

    .text-component h2 {
        font-size: 2.5rem;
        line-height: 140%;
        font-weight: 500;
    }

    .stack-cards__item {
        top: var(--space-sm);
        left: 0;
        height: 100%;
    }

    .text-component .function-description {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 160%;
    }

    /* Quote API */
    .quote-container {
        display: flex;
        justify-content: center;
        margin-top: 12rem;
        margin-bottom: 8rem;
    }

    .white-container {
        position: absolute;
        width: 75%;
        height: 30vh;
        border-radius: 50px;
        margin-bottom: 6rem;
        background-color: white;
        z-index: 1;
    }

    .API-text {
        position: relative;
        top: -6vh;
        transform: translate(20%, -350%);
        z-index: 1;
        max-width: 90%;
        text-align: left;
        font-size: 2.5rem;
    }

    .character-container {
        position: relative;
        display: flex;
        justify-content: space-between;

        min-width: 80%;
        padding-top: 10rem;
        z-index: 2;
    }

    /* Quote API Wave */
    .quote-background-container {
        height: 100%;
        width: 120%;
        bottom: 0px;
        width: 120%;
    }

    .quote-background {
        filter: blur(3rem);
        position: relative;
        bottom: -4rem;
        height: 12rem;
        width: 100vw;
        margin-left: -1.8rem;
        overflow-x: hidden;

    }

    .quote-container-box {
        background-image: url("./Assets/Images/Background.svg");
        overflow-x: hidden;
    }

    /* Footer */
    .footer-pc {
        height: 5rem;
        overflow-x: hidden;
    }

    .footer-pc .footer-menu {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        column-gap: 2rem;
        margin-left: 0px;
        margin-right: 0px;
        overflow-x: hidden;

    }

    .footer-pc .footer-menu-item {
        font-size: 0.8rem;
        font-weight: 300;
        overflow-x: hidden;
    }

    .footer-mobile {
        display: none;
    }





}


@media (min-width: 1em) and (max-width: 63.9375em) {

    :root {
        --pink: #ff7c7c;
        --background: #fef9f8;
        --cardBackground: #ffecea;
        --space-sm: calc(0.75 * 1rem);
    }

    a:link {
        text-decoration: none;
        color: var(--pink);
    }

    a:visited {
        text-decoration: none;
        color: var(--pink);
    }

    body {
        background: linear-gradient(180deg, #FAE3ED 0%, #FCF4F6 100%);
        /* width: 320px; */
        /* margin: 0 2vw 0 2vw; */
        overflow-x: clip;
        /* padding: 0 100px 0 100px; */
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
        /* for Firefox */
        overflow-y: scroll;
        font-family: museo, serif;

    }

    body::-webkit-scrollbar {
        display: none;
    }

    .app-name {
        display: flex;
        align-items: flex-end;
        margin: 10vh 0 2vh 0;
        gap: 20px;
    }

    .title-text {
        font-family: 'Museo';
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 100%;
        color: #FF7C7C;
        margin: 0;
    }

    .navigation {
        display: none;
    }

    #loader {
        width: 100%;
        height: 120%;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: var(--pink);
        color: var(--background);
        font-size: 5rem;
        z-index: 100;
        top: -20px;
        cursor: url('Assets/Images/White-cursor.svg'), auto;

    }

    .loader-text {
        display: flex;
        justify-content: center;
        margin-top: 50vh;
    }

    .logo{
        display: none;
    }

    .weather-container{
        display: none;
    }

    .title-description {
        font-family: 'Museo';
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        color: #FF7C7C;
    }

    .app-logo {
        display: none;
        height: 3rem;
    }

    .title-button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 2rem;
    }

    .title-button {
        background-color: #ffffff;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        width: 8rem;
        border-radius: 8px;
        display: flex;
        align-items: flex-end;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .title-button-description {
        color: #ffadad;
        font-size: 0.8rem;
        margin: 0px;
    }

    a:link {
        text-decoration: none;
        color: var(--pink);
    }

    .title-button-store {
        color: var(--pink);
        font-size: 1rem;
    }

    i {
        width: 20%;
        text-align: center;
        font-size: 28px;
        margin-right: 7px;
    }

    .title-mockup {
        position: relative;
        max-width: 90%;
        left: 6rem;
        top: -10vh;
        opacity: 40%;
        z-index: -100;
        animation: float 6s ease-in-out infinite;
        overflow-x: clip;
    }

    @keyframes float {
        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-20px);
        }

        100% {
            transform: translatey(0px);
        }
    }

    .quote-container-box {
        display: none;
    }

    .footer-pc {
        display: none;
    }

    .footer-mobile {
        margin: 6rem 1rem 2rem 1rem;
    }

    .footer-menu {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

    }

    .footer-menu-item {
        color: var(--pink);
        font-size: 0.8rem;
        font-weight: 300;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .stack-cards {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin: 0 1vw 0 1vw;
        padding: 0 60px 0 60px;
    }



    .stack-cards-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: museo, serif;
        font-weight: 300;
        color: #FF7C7C;
    }

    .player {
        width: 90vw;
    }

    h2 {
        font-weight: 500;
    }

    .title {
        height: 600px;
    }

    .scroll {
        display: none;
    }

    .animation {
        margin-bottom: 5rem;
    }

}